:root {
  /* font-size */
  --font-big: 36px;
  --font-middle: 24px;
  --font-small: 12px;

  /* font-weight */
  --font-bold: 700;
  --font-semi-bold: 500;
  --font-normal: 100;

  /* color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-salgoo: #ff643d;
  --color-light-salgoo: #ffb19e;
  --color-green: #01ff4d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  width: 100%;
  height: 100vh;
  background: center/cover url("./img/background.png") no-repeat;
}

.game {
}
.game__header {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__button {
  width: 55px;
  height: 55px;
  border: 5px solid var(--color-black);
  border-radius: 15px;
  background-color: var(--color-light-salgoo);
  font-size: var(--font-big);
  margin-bottom: 10px;
  transition: all 200ms ease-in;
  cursor: pointer;
}
.game__button:hover {
  background-color: var(--color-salgoo);
  color: var(--color-green);
  transform: scale(1.2);
}

.game__button.unactive {
  opacity: 0;
  pointer-events: none;
}

.game__timer {
  text-align: center;
  width: 200px;
  height: 60px;
  line-height: 60px;
  border: 5px solid var(--color-black);
  border-radius: 15px;
  background-color: var(--color-white);
  font-size: var(--font-big);
  font-weight: var(--font-bold);
}

.game__score {
  margin-top: 10px;
  background-color: var(--color-salgoo);
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  border: 5px solid var(--color-black);
  color: var(--color-white);
  font-size: var(--font-big);
  font-weight: var(--font-bold);
  display: inline-block;
}

.field {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 350px;
}

.result {
  width: 360px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--color-black);
  transform: translateY(180px);
  opacity: 0;
  pointer-events: none;
  margin: -90px auto;
}
.result.visible {
  opacity: 1;
  background-color: #00000090;
  pointer-events: auto;
}

.result__replay-button {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  font-size: var(--font-big);
  margin-bottom: 10px;
  cursor: pointer;
}
.result__text {
  font-size: var(--font-middle);
  color: var(--color-white);
}
.bug {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.bug:hover,
.carrot:hover {
  transform: scale(1.2);
}
